.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 800px;
    height: 88vh;

}

#login-main-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
 ;
}
.image-show{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    width: 270px;
    border: 0.5px solid lightgray;
    height: auto;
    padding: 30px;
}
.main-container .right{
    width: 400px;
}
.logo-login .logo {
    width: 50%;
    margin: 22px 91px;
}
#login-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input {
    width: 243px;
    height: 20px;
    border: 0.8px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    outline: none;
}

#login{

    width: 94%!important;
    background-color: #5ab8f7;
    color: white;
    border-radius: 10px;
    height: 36px;
    border: 0.8px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    outline: none;
    font-weight:700;
}
.or-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fa-square-facebook{
    font-size: 20px;
    color: #0f0fdb;
}
.login-with-facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 100;
}
.login-with-facebook h5 {
    font-weight: 200;
    margin-left: 5px;
}

.forgot-pass{
    margin-top: 30px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    
}
.forgot-pass a {
    text-decoration: none;
    color: black;

}

#left-side-image{
    max-width: 300px;
    margin-bottom: 200px;
    margin-right: 60px;
    /* position: relative; */
}
.image-clone{
    position: absolute;
  margin-right: 209px;
  margin: 30px 85px;
}

.sign-up-container{
    width: 82.5%;
    height: 60px;
    border: 1px solid lightgray;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sign-up-container h5 {
    font-weight: 100!important;
}
.sign-up-container a {
    text-decoration: none;
    color: #0095f6;
    

}

.get-the-app , .download-from-app-play-store{
    width: 83.5%;
    height: 40px;

}
.download-from-app-play-store
{
    padding: 5px;
    
}

.play-button{
    width: 100%;
    margin-top: 10px;
    height: 50px;
}

.nav-items {
    list-style: none;
}
.nav-link-single{
    text-decoration: none;
    font-size: 11px;
    margin: 4px 8px;
    color: gray;
}

#insta-user-lang{
    border: none;
    background-color: transparent;
    font-weight: 100;
}

.cursor-pointer{
    cursor: pointer;
}